<h1>Notes Post</h1>
<h2><%= @note.title %></h2>
<p><u>Author</u>: <%= @note.author %></p>
<p><u>Note</u>: <%= @note.body %></p>
<%= link_to 'Go Back', notes_path %>
<%= link_to 'Edit', edit_note_path(@note.id) %>
<%= link_to 'Delete', note_path(@note.id),method: :delete %>

